button.btn-back {
  background: transparent;
  border: 1px solid transparent;
  border-color: black;
  color: rgb(24, 26, 26);
  padding: 4px 8px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

button.btn-back:hover {
  background: rgba(64, 224, 208, 0.08); 
}