<!-- <div class="container">
  <h2>Student List</h2>
  <button class="add-btn" routerLink="/add">Add Student</button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of students">
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>
        <td>
          <button class="edit-btn" (click)="editStudent(s.id!)">Edit</button>
          <button class="delete-btn" (click)="deleteStudent(s.id!)">Delete</button>
          <button class="marks-btn" (click)="viewMarks(s.id)">View Marks</button>
          <button class="courses-btn" (click)="viewCourses(s.id)">View Courses</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<div class="container">
  <h2>Student List</h2>

  <button pButton label="Add Student" icon="pi pi-plus" routerLink="/add"></button>

  <p-table [value]="students" [tableStyle]="{'min-width': '60rem'}">

    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-s>
      <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>
        <td>

          <button pButton icon="pi pi-pencil"
                  (click)="editStudent(s.id!)"></button>

          <button pButton icon="pi pi-trash"
                  severity="danger"
                  (click)="deleteStudent(s.id!)"></button>

          <button pButton label="Marks"
                  class="p-button-text"
                  (click)="viewMarks(s.id)"></button>

          <button pButton label="Courses"
                  class="p-button-text"
                  (click)="viewCourses(s.id)"></button>

        </td>
      </tr>
    </ng-template>

  </p-table>
</div>