<div class="container">
  <h2>Student List</h2>

  <button class="add-btn" routerLink="/add">Add Student</button>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let s of students">
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>
        <td>
          <button class="edit-btn" (click)="editStudent(s.id!)">Edit</button>
          <button class="delete-btn" (click)="deleteStudent(s.id!)">Delete</button>
          <button class="marks-btn" (click)="viewMarks(s.id)">View Marks</button>
          <button class="courses-btn" (click)="viewCourses(s.id)">View Courses</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>