.container {
  width: 80%;
  margin: 30px auto;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  color: #333;
}

.add-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 900px;

}

.add-btn:hover {
  background-color: #45a049;
}


table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

th {
  background-color: #007bff;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.edit-btn {
  background-color: #ffc107;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
 .marks-btn {
  background-color: #17a2b8;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.courses-btn {
  background-color:  #75a0ce;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 4px;
}