<div class="card">
  <div class="header">
    <h2>Student List</h2>

    <p-button 
      label="Add Student" 
      icon="pi pi-plus" 
      styleClass="add-btn"
      routerLink="/add">
    </p-button>
  </div>

  <!-- PrimeNG Table -->
  <p-table 
    [value]="students" 
    [tableStyle]="{ 'min-width': '50rem' }"
    stripedRows 
    showGridlines>

    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-s>
      <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.name }}</td>
        <td>{{ s.email }}</td>

        <td class="flex">

          <p-button 
            icon="pi pi-pencil" 
            styleClass="icon-btn"
            (onClick)="editStudent(s.id!)">
          </p-button>

  
          <p-button 
            icon="pi pi-trash" 
            styleClass="icon-btn delete-btn"
            (onClick)="deleteStudent(s.id!)">
          </p-button>

          <p-button 
            label="Marks" 
            severity="info"
            size="small"
            (onClick)="viewMarks(s.id)">
          </p-button>


          <p-button 
            label="Courses" 
            severity="secondary"
            size="small"
            (onClick)="viewCourses(s.id)">
          </p-button>

        </td>
      </tr>
    </ng-template>

  </p-table>

</div>