.card {
  max-width: 650px;
  margin: 40px auto; 
  padding: 25px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.field label {
  margin-bottom: 6px;
  font-weight: 500;
}
.p-inputtext {
  width: 100%;
}

.mark-row {
  display: flex;
  gap: 10px;              
  align-items: center;
  margin-bottom: 12px;
}

.small-input {
  width: 120px;
}

.p-button.p-button-danger {
  height: 30px;
  width: 30px;
  padding: 0;
}
.p-button[label="Add Mark"] {
  margin-top: 10px;
}

.courses {
  margin-top: 10px;
}

.course-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #f9fafb;
}
.course-item .p-button {
  margin-left: 10px;     
}

.p-button.p-button-sm {
  padding: 4px 10px !important;
  font-size: 0.8rem;
  height: 30px;
}

.p-button.p-button-success {
  background: linear-gradient(90deg, #22c55e, #16a34a) !important;
  border: none !important;
  color: white !important;
}
.p-button.p-button-danger {
  background: linear-gradient(90deg, #ef4444, #dc2626) !important;
  border: none !important;
  color: white !important;
}
.add-course {
  display: flex;
  gap: 10px;   
  margin-top: 15px;
  margin-bottom: 20px;
}

.save-btn {
  width: 100%;
  margin-top: 50px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}